/* HTML Elements */
html{
  overflow-x: hidden;
}
body{
  margin: 0px;
  padding: 0px;
  background: #fdfdfd;
}

/* Custom class */
/* Header */
.bigBox{

}
.topBar{
  min-height: 100px;
  border-bottom: 5px solid black;
}
.myName{
  width: 400px;
  height: 100px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name{
  font-family: Baroneys;
  font-size: 60px;
}
.myProfession{
  width: 300px;
  height: 100px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profession{
  font-family: HalloSansLight;
  font-size: 30px;
}
.imageBox{
  width: 100px;
  height: 100px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1700ms infinite alternate ease-out moving-pointing-hand;
}
.imagePointingHand{
  width: 50px;
  height: 50px;
}

/* Main Content */
.contentBox{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.content1, .content2, .content3, .content4, .content5{
  display: none;
}
.content1_imageBox1{
  float: left;
  max-width: 50%;
  max-height: 50%;
}
.content1_image1{
  max-width: 100%;
  max-height: 100%;
}
.content1_textBox1{
  float: left;
  width: 40%;
  margin-left: 5%;
}
.content1_text1{
  font-family: BebasNeue;
  font-size: 30px;
}


/* Sidebar Menu */
.sidebar{
  position: fixed;
  right: -270px;
  top: 0px;
  width: 300px;
  height: 100%;
  background-color: #fafafa;
  animation: 1700ms infinite alternate ease-out breathing-border-white-black;
  transition: all 500ms linear;
}
.sidebarItems{
  width: inherit;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebarItem{
  font-family: CaviarDreams;
  font-size: 35px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 60px;
}
.sidebarItem:hover{
  cursor: pointer;
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  font-size: 45px;
}

/* Animations */
@keyframes breathing-border-white-black{
  from{
    border-left: 3px solid #444444;
  }
  to{
    border-left: 3px solid #fafafa;
  }
}
@keyframes moving-pointing-hand{
  from{
    margin-right: 10px;
  }
  to{
    margin-right: 30px;
  }
}

/* Phone CSS */
@media (max-width: 850px) {
  /* Header and Sidebar Menu */
  .myName, .myProfession, .imageBox{
    float: none;
    width: 100%;
  }
  .imageBox{
    float:none;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
  }
  .sidebar{
    right: -300px;
  }

  /* Main Content */
  .content1_imageBox1, .content1_textBox1{
    float: none;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
  }
}
