/* Classic Elements */
html{
  overflow-x: hidden;
}
body{
  margin: 0px;
  padding: 0px;
  background: #fdfdfd;
}

/* Header */
.bigBox{

}
header{
  min-height: 80px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  display:flex;
  justify-content: center;
}
.headerLeft{
  width: 40%;
}
.headerLeft:before { content: '';
  position: absolute;
  border-bottom: 3px solid #231f20;
  border-radius: 3px;
  height: 109px;
  width: 40%;
}
.headerMid{
  margin-left: 1%;
  margin-right: 1%;
}
.headerMidImg{
  max-height: 200px;
}
.headerRight{
  width: 40%;
}
.headerRight:before { content: '';
  position: absolute;
  border-bottom: 3px solid #231f20;
  border-radius: 3px;
  height: 109px;
  width: 40%;
}
.imageBoxMenu{
  display: none;
}
.imageMenu{
  width: 50px;
  height: 50px;
  opacity: 1;
}

/* Main Content */
.contentBox{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.content1, .content2, .content3, .content4, .content5{
  display: none;
}
.content1_imageBox1{
  float: left;
  max-width: 50%;
  max-height: 50%;
}
.content1_image1{
  max-width: 100%;
  max-height: 600px;
}
.content1_textBox1{
  float: left;
  width: 40%;
  margin-top: 0px;
  margin-left: 5%;
}
.content1_text1{
  font-family: BebasNeue;
  font-size: 30px;
}

/* Sidebar Menu */
.sidebar{
  position: fixed;
  right: -270px;
  top: 0px;
  width: 300px;
  height: 100%;
  background-color: #eeeeeecc;
  transition: all 500ms linear;
}
.sidebarItems{
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebarItem{
  font-family: CaviarDreams;
  font-size: 35px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 60px;
}
.sidebarItem:hover{
  cursor: pointer;
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  font-size: 45px;
}
.sidebarBookMark{
  position: absolute;
  top: 50%;
  margin-left: -30px;
  transition: all 500ms linear;
}
.sidebarBookMarkImg{
  width: 50px;
  height: 35px;
  opacity: 0.9;
}
.sidebarAnimatedBorder{
  /*
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-image: linear-gradient(#bbbbbb33, #111111dd);
  animation: 3s infinite alternate linear colorfulBullshit;
  border-radius: 15px;
  */
}
.sidebarSocialMedia{
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
  display: none;
  justify-content: center;
}

/* Social Media */
.socialMediaFixed{
  position: fixed;
  right: 60px;
  bottom: 20px;
  width: 210px;
  height: 80px;
  display: flex;
  justify-content: center;
}
.logo{
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
}
.logo:hover{
  cursor: pointer;
}

/* Animations */
@keyframes colorfulBullshit{
  from{
    top: 0%;
  }
  to{
    top: calc(100% - 30px);
    transform: rotate(480deg);
  }
}

/* Phone CSS   < 850px */
@media (max-width: 850px) {
  /* Header */
  .headerLeft, .headerLeft:before, .headerRight, .headerRight:before{
    max-width: 25%;
  }
  .headerMid{
    margin-left: 3%;
    margin-right: 3%;
  }
  .imageBoxMenu{
    display: flex;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
  }

  /* Main Content */
  .content1_imageBox1, .content1_textBox1{
    float: none;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
  }
  .content1_imageBox1{
    display: flex;
    justify-content: center;
  }

  /* Sidebar Menu */
  .sidebar{
    right: -300px;
    background-color: #eeeeeeee;
  }
  .sidebarBookMark{
    display: none;
  }
  .sidebarAnimatedBorder{
    display: none;
  }
  .sidebarSocialMedia{
    display: flex;
  }

  /* Social Media */
  .socialMediaFixed{
    display: none;
  }
}
@media (max-width: 500px) {
  /* Header */
  .headerLeft, .headerLeft:before, .headerRight, .headerRight:before{
    max-width: 20%;
  }
  .imageMenu{
    width: 35px;
    height: 35px;
  }

  /* Sidebar Menu */
  .sidebar{
    width: 200px;
    right: -200px;
    background-color: #eeeeeeee;
  }
  .sidebarItem{
    font-size: 25px;
  }
  .sidebarItem:hover{
    font-size: 35px;
  }

  /* Social Media */
  .logo{
    width: 50px;
    height: 50px;
  }
}
