/* Classic Elements */
html{
  overflow-x: hidden;
}
body{
  margin: 0px;
  padding: 0px;
  background: #fdfdfd;
}

/* Header */
.bigBox{

}
header{
  min-height: 80px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  display:flex;
  justify-content: center;
}
.headerLeft{
  width: 40%;
}
.headerLeft:before { content: '';
  position: absolute;
  border-bottom: 3px solid #000000aa;
  border-radius: 3px;
  height: 109px;
  width: 40%;
}
.headerMid{
  margin-left: 1%;
  margin-right: 1%;
}
.headerMidImg{
  max-height: 200px;
}
.headerRight{
  width: 40%;
}
.headerRight:before { content: '';
  position: absolute;
  border-bottom: 3px solid #000000aa;
  border-radius: 3px;
  height: 109px;
  width: 40%;
}
.myName{
  width: 400px;
  height: 80px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name{
  font-family: HalloSansLight;
  font-size: 50px;
}
.myProfession{
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.profession{
  margin-top: 10px;
  font-family: HalloSansLight;
  font-size: 25px;
}
.imageBox{
  position: fixed;
  width: 30px;
  height: 100%;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1700ms infinite alternate ease-out moving-pointing-hand;
}
.imagePointingHand{
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

/* Main Content */
.contentBox{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.content1, .content2, .content3, .content4, .content5{
  display: none;
}
.content1_imageBox1{
  float: left;
  max-width: 50%;
  max-height: 50%;
}
.content1_image1{
  max-width: 100%;
  max-height: 600px;
}
.content1_textBox1{
  float: left;
  width: 40%;
  margin-top: 0px;
  margin-left: 5%;
}
.content1_text1{
  font-family: BebasNeue;
  font-size: 30px;
}

/* Sidebar Menu */
.sidebar{
  position: fixed;
  right: -270px;
  top: 0px;
  width: 300px;
  height: 100%;
  background-color: #bbbbbb55;
  transition: all 500ms linear;
}
.sidebarItems{
  width: inherit;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebarItem{
  font-family: CaviarDreams;
  font-size: 35px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 60px;
}
.sidebarItem:hover{
  cursor: pointer;
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  font-size: 45px;
}

/* Social Media */
.socialMediaFixed{
  position: fixed;
  right: 60px;
  bottom: 20px;
  width: 210px;
  height: 80px;
  display: flex;
  justify-content: center;
}
.logo{
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
}
.logo:hover{
  cursor: pointer;
}

/* Animations */
@keyframes moving-pointing-hand{
  from{
    margin-right: 10px;
  }
  to{
    margin-right: 30px;
  }
}

/* Phone CSS */
@media (max-width: 850px) {
  /* Header and Sidebar Menu */
  .headerLeft, .headerLeft:before, .headerRight, .headerRight:before{
    width: 25%;
  }
  .headerMid{
    margin-left: 3%;
    margin-right: 3%;
  }
  .imageBox{
    float:none;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
  }
  .sidebar{
    right: -300px;
    background-color: #eeeeeecc;
  }

  /* Main Content */
  .content1_imageBox1, .content1_textBox1{
    float: none;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
  }
  .content1_imageBox1{
    display: flex;
    justify-content: center;
  }

}
